* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Bitstream', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  min-width: 320px;
}

a, a:hover, a:active, a:visited {
  color: #00f;
}

.sidebar {
  height: 100%;
  width: 250px;
  min-width: 250px;
  padding: 20px;
  background-color: #1D1F21;
  position: fixed;
  left: 0;
  color: #e5e5e5;
}

.sidebar .header h1 {
  margin-top: 0px;
}

.sidebar .header img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  width: 60px;
}

.sidebar .nav {
  list-style: none;
  padding: 0;
}

.sidebar .nav li {
  color: #BA100E;
  font-size: 20px;
  padding: 10px;
}

.sidebar .nav li:hover {
  background-color: #000;
}

.sidebar .nav li a {
  text-decoration: none;
  color: inherit;
}

.sidebar .social {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.sidebar .social a {
  margin: 0 2px;
}

.sidebar .social img {
  border: 2px solid white;
}

.main {
  min-width: 280px;
  max-width: 800px;
  margin-left: 250px;
  padding: 20px 20px 60px 30px;
}

.post .post-header {
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  color: #659dcf;
}

.post .post-header h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.post .post-header h2 a {
  color: inherit;
  text-decoration: none;
}

.post .post-header h2 a:hover {
  text-decoration: underline;
}

.post .post-header .date {
  position: absolute;
  right: 0;
  bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    min-width: 280px;
  }
  
  .sidebar .header img {
    display: none;
  }

  .sidebar h1 {
    margin: 5px 0;
    font-size: 26px;
  }

  .sidebar .nav {
    margin-top: 0;
  }

  .sidebar .nav li {
    float: left;
    padding: 0;
    margin-right: 20px;
  }

  .sidebar .social {
    right: 10px;
    left: auto;
    bottom: 10px;
  }

  .sidebar .social a {
    display: block;
    margin-bottom: 5px;
  }

  .sidebar .social img {
    width: 25px;
  }

  .main {
    margin-left: 0;
    margin-top: 80px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 450px) {
  .sidebar h1 {
    font-size: 24px;
  }

  .sidebar .header img {
    display: none;
  }

  .sidebar .nav li {
    font-size: 16px;
  }

  .post .post-header {
    padding-bottom: 10px;
  }

  .post .post-header h2 {
    margin-bottom: 5px;
  }
  .post .post-header .date {
    position: static;
  }
}
